# ---- Analytics Service (FastAPI) ----
PORT=8000
SERVICE_NAME=analytics-service

MYSQL_HOST=mysql-c65cf31-lua-ae9f.f.aivencloud.com
MYSQL_PORT=18287
MYSQL_USER=avnadmin
MYSQL_PASSWORD=CHANGE_ME
MYSQL_DATABASE=defaultdb
MYSQL_SSL=true

RABBITMQ_URL=amqps://USER:PASSWORD@HOST/VHOST
RABBITMQ_EXCHANGE=pokeshop.events
RABBITMQ_QUEUE=analytics.events
