# ---- Inventory Service (Go) ----
PORT=9000
SERVICE_NAME=inventory-service

MYSQL_DSN=avnadmin:CHANGE_ME@tcp(mysql-c65cf31-lua-ae9f.f.aivencloud.com:18287)/defaultdb?parseTime=true&tls=skip-verify

RABBITMQ_URL=amqps://USER:PASSWORD@HOST/VHOST
RABBITMQ_EXCHANGE=pokeshop.events
RABBITMQ_QUEUE=inventory.commands
